#{extends 'admin.html' /}
 
#{ifnot post?.id}
    <h3>Escreva, <span>um novo anuncio</span></h3>
#{/ifnot}
#{else}
    <h3>Edite, <span>este anuncio</span></h3>
#{/else}
 
#{form @save(post?.id)}
 
    #{ifErrors}
        <p class="error">
            Por favor, corrija estes erros.
        </p>
    #{/ifErrors}
     
    <p>
        #{field 'title'}
        <label>Titulo:</label>
        <input type="text" name="${field.name}" 
           value="${post?.title}" />
        <span class="error">#{error 'post.title'/}</span>
        #{/field}
    </p>
 
    <p>
        #{field 'content'}
        <label>Escreva aqui:</label>
        <textarea name="${field.name}">
          ${post?.content}
        </textarea>
        <span class="error">#{error 'post.content'/}</span>
        #{/field}
    </p>
 
    <p>
        #{field 'tags'}
        <label>Colocar tags:</label>
        <input type="text" size="50" 
            name="${field.name}" value="${post?.tags?.join(' ')}" />
        #{/field}
    </p>
    
    <p>
    	#{field 'cidade'}
    	<label>Cidade:</label>
    	<input type="text" id="cidade" name="${field.name}" value="${post?.cidade}"/>
    	#{/field}
    	#{field 'bairro'}
    	<label>Bairro:</label>
    	<input type="text" id="bairro" name="${field.name}" value="${post?.bairro}"/>
    	#{/field}
    </p>
    <p>
    	#{field 'strInstrumentos'}
    	<label>Instrumentos que toca:</label>
    		<input type="text" id="strInstrumentos" name="${field.name}" value="${post?.strInstrumentos}"/>
    	#{/field}
    	#{field 'strEstilosQueGosta'}
    	<label>Estilos que gosta:</label>
    		<input type="text" id="strEstilosQueGosta" 
    		  name="${field.name}" value="${post?.strEstilosQueGosta}"/>
    	#{/field}
    	#{field 'strEstilosQueNaoGosta'}
    	<label>Estilos que nao gosta:</label>
    		<input type="text" id="strEstilosQueNaoGosta" 
    		  name="${field.name}" value="${post?.strEstilosQueNaoGosta}"/>
    	#{/field}
    	<br><br>
    	#{field 'finalizado'}
    	<label>Finalizar anuncio <input type="checkbox" name="${field.name}" value="${post?.finalizado='true'}"/></label>
    	#{/field}
    </p>
   	<br>
   	<p id="formProcuraBanda">
   	  #{field 'procuraBanda'}
   	  <label>Tipo do acordo:</label>
	  <input type="radio" name="${field.name}" value="${post?.procuraBanda='true'}">Procuro Banda
	  <br>
	  <input type="radio" name="${field.name}" value="${post?.procuraBanda='false'}">Tocar Ocasionalmente
	  #{/field}
	</p>
    
    <p>
        <input type="submit" value="Publicar anuncio no site" />
    </p>
    
#{/form}


