#{extends 'admin.html' /}
 
#{ifnot post?.id}
    <h3>Escreva, <span>um novo anuncio</span></h3>
#{/ifnot}
#{else}
    <h3>Edite, <span>este anuncio</span></h3>
#{/else}
 
#{form @save(post?.id)}
 
    #{ifErrors}
        <p class="error">
            Por favor, corrija estes erros.
        </p>
    #{/ifErrors}
     
    <p>
        #{field 'title'}
        <label>Titulo:</label>
        <input type="text" name="${field.name}" 
           value="${post?.title}" />
        <span class="error">#{error 'post.title'/}</span>
        #{/field}
    </p>
 
    <p>
        #{field 'content'}
        <label>Escreva aqui:</label>
        <textarea name="${field.name}">
          ${post?.content}
        </textarea>
        <span class="error">#{error 'post.content'/}</span>
        #{/field}
    </p>
 
    <p>
        #{field 'tags'}
        <label>Colocar tags:</label>
        <input type="text" size="50" 
            name="${field.name}" value="${post?.tags?.join(' ')}" />
        #{/field}
    </p>
    
    <p id="dadosEspecificos">
    	<label>Cidade:</label><input type="text" id="cidade" name="cidade">
    	<label>Bairro:</label><input type="text" id="bairro" name="bairro">
    	<label>Instrumentos que toca:</label>
    			<input type="text" id="strInstrumentos" name="strInstrumentos">
    	<label>Estilos que gosta:</label>
    			<input type="text" id="strEstilosQueGosta" name="strEstilosQueGosta">
    	<label>Estilos que nao gosta:</label>
    			<input type="text" id="strEstilosQueNaoGosta" name="strEstilosQueNaoGosta">
    	<br>
    	<form id="formProcuraBanda">
    		<label>Tipo do acordo:</label>
		  <input type="radio" name="procuraBanda" value="true" >Procuro Banda
		  <br>
		  <input type="radio" name="procuraBanda" value="false">Tocar Ocasionalmente
		</form>
    </p>
    
    <p>
        <input type="submit" value="Publicar anuncio no site" />
    </p>
    
#{/form}


