*{ Display a post in one of these modes: 'full', 'home' or 'teaser' }*
 
<div class="post ${_as == 'teaser' ? 'teaser' : ''}">
    <h2 class="post-title">
        <a href="@{Application.show(_post.id)}">${_post.title}</a>
    </h2>
    <div class="post-metadata">
        <span class="post-author">de ${_post.author.fullname}</span>,
        <span class="post-date">${_post.postedAt.format('dd MMM yy')}</span>
        #{if _as != 'full'}
            <span class="post-comments">
                &nbsp;|&nbsp; ${_post.comments.size() ?: 'sem'} comentario${_post.comments.size().pluralize()}
                #{if _post.comments}
                    , ultimo comentario de ${_post.comments[-1].author}
                #{/if}
            </span>
        #{/if}
        #{elseif _post.tags}
            <span class="post-tags">
                - Tags
                #{list items:_post.tags, as:'tag'}
                    <a href="@{Application.listTagged(tag.name)}">${tag}</a>${tag_isLast ? '' : ', '}
                #{/list}
            </span>
        #{/elseif}
    </div>
    #{if _as != 'teaser'}
        <div class="post-content">
            <div class="about">Detalhes: </div>
            ${_post.content.nl2br()}
        </div>
       
        	<h2 style="color: #F5C2CC;">Informacoes do anunciante:</h2>
        <p id="infoPost">
        	<label >Cidade: </label>
        	<span >${_post.cidade.nl2br()}</span>
        	<label >|  Bairro: </label>
        	<span >${_post.bairro.nl2br()}</span>
        	<label >|  Instrumentos: </label>
        	<span >${_post.strInstrumentos.nl2br()}</span>
        	<br><br>
        	<label ">Estilos que gosta: </label><br>
        	<span >${_post.strEstilosQueGosta.nl2br()}</span>
        	<br><br>
        	<label ">Estilos que nao gosta: </label><br>
        	<span >${_post.strEstilosQueNaoGosta.nl2br()}</span>
        </p>
        
    #{/if}
</div>
 
#{if _as == 'full'}
    <div class="comments">
        <h3>${_post.comments.size() ?: 'sem'} comentario${_post.comments.size().pluralize()}</h3>
        
        #{list items:_post.comments, as:'comment'}
            <div class="comment">
                <div class="comment-metadata">
                    <span class="comment-author">de ${comment.author},</span>
                    <span class="comment-date">${comment.postedAt.format('dd MMM yy')}</span>
                </div>
                <div class="comment-content">
                    <div class="about">Detalhes: </div>
                    ${comment.content.escape().nl2br()}
                </div>
            </div>
        #{/list}
        
    </div>
#{/if}
