#{extends 'main.html' /}
#{set title:'Home' /}

<div class="post ">
        <h2 class="post-title">
            <a>Sobre o nosso servico</a>
        </h2>
        
        <div class="post-content">
            <div class="about">Detail: </div>
                O Find Bandmate (Encontre Músicos) foi criado com o proposito de disponibilizar um meio mais facil de se formar bandas. <br>
                Atraves do sistema de anuncios que o site provem, varios musicos de varias partes do mundo podem se comunicar de maneira 
                pratica e, o melhor de tudo, ao necessitar de um instrumentista especifico para uma determinada ocasiao, uma solicitacao 
                especifica pode ser feita atraves dos anuncios.     <br/>
        </div>
</div>

#{if frontPost}
    <div class="older-posts">
        <h3>Lista de anuncios <span class="from">deste site</span></h3>
        #{display post:frontPost, as:'teaser'/}
        #{list items:olderPosts, as:'oldPost'}
            #{display post:oldPost, as:'teaser' /}
        #{/list}
    </div>

#{/if}

#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}