#{extends 'main.html' /}
#{set title:'Home' /}

<div class="post ">
        <h2 class="post-title">
            <a>Sobre o nosso serviço</a>
        </h2>
        
        <div class="post-content">
            <div class="about">Detail: </div>
                O Find Bandmate (Encontre Musicos) foi criado com o propósito de disponibilizar um meio mais fácil de se formar bandas. <br>
                Através do sistema de anúncios que o site dispõe, vários músicos de várias partes do mundo podem se comunicar de maneira 
                prática e, o melhor de tudo, ao necessitar de um instrumentista específico para uma determinada ocasião, uma solicitação 
                específica pode ser feita através dos anúncios.     <br/>
        </div>
</div>

#{if frontPost}
    <div class="older-posts">
        <h3>Older posts <span class="from">from this blog</span></h3>
        #{display post:frontPost, as:'teaser'/}
        #{list items:olderPosts, as:'oldPost'}
            #{display post:oldPost, as:'teaser' /}
        #{/list}
    </div>

#{/if}

#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}