#{extends 'main.html' /}
#{set title:'Home' /}

<div class="post ">
        <h2 class="post-title">
            <a>Sobre o nosso servico</a>
        </h2>
        
        <div class="post-content">
            <div class="about">Detail: </div>
                O Find Bandmate (Encontre Musicos) foi criado com o proposito de disponibilizar um meio mais facil de se formar bandas.
                Atraves do sistema de anuncios que o site contem, varios musicos de varias partes da sua cidade podem se comunicar de maneira 
                pratica e, o melhor de tudo, ao necessitar de um instrumentista especifico para uma determinada ocasiao, uma pesquisa 
                especifica pode ser feita atraves do sistema de tags dos anuncios.     <br/>
        </div>
</div>

#{if frontPost}
    <div class="older-posts">
        <h3>Lista de anuncios <span class="from">deste site</span></h3>
        <h3><span class="from">${olderPosts.size() + 1} anuncios ja ajudaram as pessoas cadastradas neste site.</span></h3>
        #{if frontPost.finalizado == false}
            #{display post:frontPost, as:'teaser'/}
        #{/if}
        #{list items:olderPosts, as:'oldPost'}
        	#{if oldPost.finalizado == false}
                #{display post:oldPost, as:'teaser' /}
            #{/if}
        #{/list}
    </div>

#{/if}

#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}