#{extends 'main.html' /}
#{set title:'Novo Usuario' /}

#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}

<h3>Novo Usuario</h3>
 
#{form @Application.addNewUser()}
 
    #{ifErrors}
        <p class="error">
            ${errors[0]}
        </p>
    #{/ifErrors}
 
    <p>
        <label for="fullname">Nome: </label>
        <input type="text" name="fullname" id="fullname" value="${params.fullname}" />
    </p>
    <p>
        <label for="email">E-mail: </label>
        <input type="text" name="email" id="email" value="${params.email}"/>
    </p>
    <p>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" value="${params.password}"/>
    </p>
    
    <p>
        <label for="code">Por favor, digite o codigo abaixo: </label>
        <img src="@{Application.captcha(randomID)}" />
        <br />
        <input type="text" name="code" id="code" size="18" value="" />
        <input type="hidden" name="randomID" value="${randomID}" />
    </p>
    <p>
        <input type="submit" value="Cadastrar" />
    </p>
#{/form}

<p>
    <input type="submit" value="Limpar Entradas" id="limpar">
</p>

<script type="text/javascript" charset="${_response_encoding}">
    $(function() {         
        // Expose the form 
        $('form').click(function() { 
            $('form').expose({api: true}).load(); 
        }); 
        
        // If there is an error, focus to form
        if($('form .error').size()) {
            $('form').expose({api: true, loadSpeed: 0}).load(); 
            $('form input[type=text]').get(0).focus();
        }
    });
    
    $('#limpar').click(function(){
        $('#fullname').val("");
        $('#email').val("");
        $('#password').val("");
        $('.success').hide();
    });
</script>